:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 630px;
  width: calc(2000px / 4);
  // -webkit-box-reflect: below 1px linear-gradient(transparent 90%, #0004);
  transform: scale(0.2);
  transform-origin: top left;
  &.up {
    background: url(/assets/boy-walking-up.png);
  }

  &.down {
    background: url(/assets/boy-walking-down.png);
  }

  &.left {
    background: url(/assets/boy-walking-left.png);
  }

  &.right {
    background: url(/assets/boy-walking-right.png);
  }

  &.moving {
    animation: walking 0.7s steps(4) infinite;
  }

  &.not-moving {
    animation: none;
  }
}

.up {
  background: url(/assets/boy-walking-up.png);
}

.down {
  background: url(/assets/boy-walking-down.png);
}

.left {
  background: url(/assets/boy-walking-left.png);
}

.right {
  background: url(/assets/boy-walking-right.png);
}

.moving {
  animation: walking 0.7s steps(4) infinite;
}

.not-moving {
  animation: none;
}

@keyframes walking {
  from {
    background-position: 0px;
  }
  to {
    background-position: 2000px;
  }
}
