<h1>Choose characters names</h1>
<div class="characters">
  <div class="character__wrapper">
    @if (this.characterService.firstCharacterName$ | async; as
    firstCharacterName) {
    <p class="name">{{ firstCharacterName }}</p>
    }

    <div
      class="character character--player1"
      (click)="setFirstCharacterNickname()"
    ></div>
  </div>
  <a class="play-button" [routerLink]="'game'">
    <div class="inner-container">Play</div>
  </a>

  <div class="character__wrapper">
    @if (this.characterService.secondCharacterName$ | async; as
    secondCharacterName) {
    <p class="name">{{ secondCharacterName }}</p>
    }

    <div
      class="character character--player2"
      (click)="setSecondCharacterNickname()"
    ></div>
  </div>
</div>

<div class="grass"></div>
