:host {
  background: url(/assets/bubble-speach.png);
  width: 450%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -100%;
  left: -300%;
}
